name: Publish to pkg.go.dev
on:
  release:
    types:
      - published

jobs:
  bump-index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Ping endpoint
        run: curl "https://proxy.golang.org/github.com/kukymbr/filecache/v2/@v/$(git describe HEAD --tags --abbrev=0).info"